
@import"~admin-lte/plugins/fontawesome-free/css/all.css";
@import"~admin-lte/dist/css/adminlte.css";
/* Variables CSS */
:root {
    --primary: #007bff;
}

/* Styles de base */
body {
    font-family: 'Nunito', sans-serif;
}
.ellipsis{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
